.navbar_main {
    border-radius: 0px;
}

/***/
.user-meny {
    border-right: 1px solid #C3C3C3;
}
.user-container {
    box-shadow: 0px 0px 5px #C3C3C3;
}
.user-navbar {
    margin: 0px 0px 0px 0px;
}
/***/




/***/
.downSubItem + ul li, .downSubItem + ul li a {
    position: relative;
}

.downSubItem + ul {
    margin: 0 0 0 0;
    left: 50%;
}

.downSubItem:hover + ul {
    display: block;
}

.downSubItem + ul:hover {
    display: block;
}
/***/




.list-group-custom.list-group :not(:first-child input){
    background-color: white;
}

.list-group-custom .list-group-item:first-child{
    border-radius: 0px 0px 0px 0px;
}

.list-group-custom .list-group-item:not(:first-child){
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    background-color: white;
}

.list-group-custom .list-group-item:last-child {
    border-radius: 0px 0px 0px 0px;
    border-bottom: 1px solid #C3C3C3;
}

.list-group-custom.list-group .list-group-item input:not([type="submit"]) {
    border-radius: 0px;
}

.list-group-custom.list-group .list-group-item select {
    border-radius: 0px;
}




.list-group-custom-gray.list-group :not(:first-child input){
    background-color: #EEE;
}

.list-group-custom-gray .list-group-item:first-child{
    border-radius: 0px 0px 0px 0px;
}

.list-group-custom-gray .list-group-item:not(:first-child){
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    background-color: #EEE;
}

.list-group-custom-gray .list-group-item:last-child {
    border-radius: 0px 0px 0px 0px;
    border-bottom: 1px solid #C3C3C3;
}

.list-group-custom-gray.list-group .list-group-item input:not([type="submit"]) {
    border-radius: 0px;
}

.list-group-custom-gray.list-group .list-group-item select {
    border-radius: 0px;
}




/*Стили для нормального отображения плитки товаров и категорий*/
.thumbnail-castom {
    padding: 0px;
    border-radius: 0px 0px 0px 0px;
}
.thumbnail-castom .thumbnail-castom-head {
    text-align: center;
    font-size: 12px;
    height: 35px;
    margin: 5px;
}
.thumbnail-castom .thumbnail-castom-text-right {
    text-align: right;
}
.thumbnail-castom .thumbnail-castom-text-left {
    text-align: left;
}



/*Фиксированный размер для изображений в списках*/
.img-thumbnail {
    max-width: 150px;
}