.navbar_main {
    border-radius: 0px;
}





.downSubItem + ul li, .downSubItem + ul li a {
    position: relative;
}

.downSubItem + ul {
    margin: 0 0 0 0;
    left: 50%;
}

.downSubItem:hover + ul {
    display: block;
}

.downSubItem + ul:hover {
    display: block;
}