@{//TODO: В дальнейшем вставить свою информацию
    ViewBag.Title = "Контакты";
    ViewBag.ListGroupTitle = "Как с нами связаться";
}

<div class="text-center">
    <p>
        Телефон: 8-800-500-26-32 Бесплатный звонок со всей России
    </p>
    <p>
        Телефон в Москве 8-499-322-21-78
    </p>
    <p>
        Телефон в Санкт-Петербурге 8-812-385-72-36
    </p>
    <p>
        Часы работы: с 9.00 до 21.00 ежедневно (время Московское). &nbsp; &nbsp; &nbsp; &nbsp;
    </p>
    <p>
        Адрес электронной почты: <a href="mailto:info@semenapost.ru">hello@semenapost.ru</a>&nbsp;
    </p>
    <p>
        <a href="/ask/">Написать нам</a>
    </p>
</div>